<div class="container">
  <h1>Create Recipe</h1>
  <form [formGroup]="createRecipeForm" (ngSubmit)="onCreateRecipe()">
    <div class="form-group">
      <label for="name">Name: </label>
      <input
        class="form-control"
        type="text"
        id="name"
        name="name"
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <label for="instructions">Instructions: </label>
      <textarea
        class="form-control"
        id="instructions"
        name="instructions"
        formControlName="instructions"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="time">Time: </label>
      <input
        type="text"
        class="form-control"
        id="time"
        name="time"
        formControlName="time"
      />
    </div>
    <div id="ingredients-div">
      <div
        *ngFor="let ing of ' '.repeat(ingredientCount).split(''); let x = index"
        [formGroup]="createIngredientsForm"
      >
        <div class="form-group">
          <label for="amount">Amount: </label>
          <input
            type="text"
            class="form-control"
            id="{{ 'amount' + ingredientCount }}"
            name="{{ 'amount' + ingredientCount }}"
            formControlName="{{ 'amount' + ingredientCount }}"
            (blur)="addIngredients(ingredientCount)"
          />
          <label for="ingredients"> Ingredient: </label>
          <input
            type="text"
            class="form-control"
            id="{{ 'ingredients' + ingredientCount }}"
            name="{{ 'ingredients' + ingredientCount }}"
            formControlName="{{ 'ingredients' + ingredientCount }}"
            (blur)="addIngredients(ingredientCount)"
          />
        </div>
      </div>
    </div>
    <div>
      <label for="chef"> Chef: </label>
      <select formControlName="chef">
        <option *ngFor="let user of users" [value]="user.id">{{
          user.name
        }}</option>
      </select>
    </div>
    <button type="submit" [disabled]="!formValid()">
      Create Recipe
    </button>
  </form>
</div>
