nav {
  padding: 20px;
}

a {
  background-color: rgb(19, 44, 80);
  border: 2px darkslategrey solid;
  border-radius: 15px;
  color: antiquewhite;
  margin: 0 40px;
  padding: 15px 45px;
}

.add-user,
.add-recipe {
  cursor: pointer;
  height: 50px;
  outline: none;
  position: absolute;
  width: 50px;
}

.add-user {
  right: 150px;
  top: 50px;
}

.add-recipe {
  right: 50px;
  top: 50px;
}
